<!DOCTYPE html>
<html>

<head>
  <title>DreamSignageX</title>
  <link rel="icon" type="image/x-icon" href="/img/DreamSignage-Logo-Light-Icon.ico">
  <link rel="stylesheet" href="css/display.css">

</head>

<body id="contentBody">
  <div id="cc"></div>
  <div id="loadInidcator" class="center">
    <h1>DreamSignageX</h1>
    <h2 id="waitingTxt">Sorry... nothings here!<br>Please check URL</h2>
    <div class="loader"></div>
  </div>
</body>

<script>
  document.getElementById("waitingTxt").style.opacity = 1;
</script>

</html>